.presentation-page .section-content, .index-page .section-content {
	padding-top: 100px !important;
}

/**
 * Common
 */
p {
	font-size: 1.25em;
	line-height: 1.55em;
	margin-bottom: 15px;
	margin-top: 10px;
}

/**
 * Form
 */
label {
	font-size: 1.25em !important;
}

/**
 * Text Block
 */

/**
 * Image Block
 */

/**
 * Block Map
 */
.contactus-2 .card-contact {
	padding: 20px;
}

/**
 * Blog
 */
.blog-item .content p {
	color: rgba(255, 255, 255, 0.7);
}

.blog-post h1, .blog-post h2, .blog-post h3, .blog-post h4, .blog-post h5, .blog-post h6 {
	font-family: "Roboto Slab","Times New Roman",serif;
}

.pagination > li > a,
.pagination > li > span {font-size: 14px;}
