.presentation-page .section-content, .index-page .section-content {
	padding-top: 100px !important;
}

.brand,
.brand {
  color: #FFFFFF;
  text-align: center;
}
.brand h1,
.brand h1 {
  font-size: 4.8em;
  font-weight: 600;
  display: inline-block;
  position: relative;
}
.brand h3,
.brand h3 {
  font-size: 1.5em;
  max-width: 490px;
  margin: 10px auto 0;
}

/**
 * Common
 */

p {
	font-size: 1.10em;
	line-height: 1.55em;
	margin-bottom: 15px;
	margin-top: 10px;
}

/**
 * Typography
 */
.semi-lead {
	font-size: 16px;
}

/**
 * Backgrounds
 */
.bg-dark {
	background: #212121 !important;
}

.bg-white {
	background: #FFF !important;
	color: #4a4a4a;
}

.bg-white a {
	color: #4a4a4a !important;
}

/**
 * Form
 */
label {
	font-size: 1.10em !important;
}

.userform .left {font-weight: normal !important;}

/**
 * Header Block
 */
.navbar-right {margin-top:12px;}
.navbar.navbar-dark {
	background-color: #212121;
	color: #ffffff;
}
.navbar.navbar-dark .navbar-form .form-group input.form-control::-moz-placeholder,
.navbar.navbar-dark .navbar-form input.form-control::-moz-placeholder {
	color: #ffffff;
}
.navbar.navbar-dark .navbar-form .form-group input.form-control:-ms-input-placeholder,
.navbar.navbar-dark .navbar-form input.form-control:-ms-input-placeholder {
	color: #ffffff;
}
.navbar.navbar-dark .navbar-form .form-group input.form-control::-webkit-input-placeholder,
.navbar.navbar-dark .navbar-form input.form-control::-webkit-input-placeholder {
	color: #ffffff;
}
.navbar.navbar-dark .dropdown-menu {
	border-radius: 3px !important;
}
.navbar.navbar-dark .dropdown-menu li > a:hover, .navbar.navbar-dark .dropdown-menu li > a:focus {
	color: #FFFFFF;
	background-color: #212121;
}
.navbar.navbar-dark .dropdown-menu .active > a {
	background-color: #212121;
	color: #ffffff;
}
.navbar.navbar-dark .dropdown-menu .active > a:hover, .navbar.navbar-dark .dropdown-menu .active > a:focus {
	color: #ffffff;
}

.logo img {
	max-height: 50px !important;
}
#headerBlock {
	background-size: cover;
	height: 60vh;
}

#headerBlock .container {
	padding-top: 20vh;
	color: #FFFFFF;
}

#headerBlock .page-header .title {
	color: #FFFFFF;
}

/**
 * Timeline Block
 */
.timeline {
	list-style: none;
	padding: 20px 0 20px;
	position: relative;
	margin-top: 30px; 
}
.timeline:before {
	top: 50px;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 3px;
	background-color: #E5E5E5;
	left: 50%;
	margin-left: -1px;
}
.timeline h6 {
	color: #333333;
	font-weight: 400;
	margin: 10px 0px 0px;
}
.timeline.timeline-simple {
	margin-top: 30px;
	padding: 0 0 20px;
}
.timeline.timeline-simple:before {
	left: 5%;
	background-color: #E5E5E5;
}
.timeline.timeline-simple > li > .timeline-panel {
	width: 86%;
}
.timeline.timeline-simple > li > .timeline-badge {
	left: 5%;
}
.timeline > li {
	margin-bottom: 20px;
	position: relative;
}
.timeline > li:before, .timeline > li:after {
	content: " ";
	display: table;
}
.timeline > li:after {
	clear: both;
}
.timeline > li > .timeline-panel {
	width: 45%;
	float: left;
	padding: 20px;
	margin-bottom: 20px;
	position: relative;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	border-radius: 6px;
	color: rgba(0,0,0, 0.87);
	background: #fff;
}
.timeline > li > .timeline-panel:before {
	position: absolute;
	top: 26px;
	right: -15px;
	display: inline-block;
	border-top: 15px solid transparent;
	border-left: 15px solid #e4e4e4;
	border-right: 0 solid #e4e4e4;
	border-bottom: 15px solid transparent;
	content: " ";
}
.timeline > li > .timeline-panel:after {
	position: absolute;
	top: 27px;
	right: -14px;
	display: inline-block;
	border-top: 14px solid transparent;
	border-left: 14px solid #FFFFFF;
	border-right: 0 solid #FFFFFF;
	border-bottom: 14px solid transparent;
	content: " ";
}
.timeline > li > .timeline-badge {
	color: #FFFFFF;
	width: 50px;
	height: 50px;
	line-height: 51px;
	font-size: 1.4em;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 50%;
	margin-left: -24px;
	z-index: 100;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
}
.timeline > li > .timeline-badge.primary {
	background-color: #9c27b0;
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}
.timeline > li > .timeline-badge.success {
	background-color: #4caf50;
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
}
.timeline > li > .timeline-badge.warning {
	background-color: #ff9800;
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}
.timeline > li > .timeline-badge.info {
	background-color: #00bcd4;
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}
.timeline > li > .timeline-badge.danger {
	background-color: #f44336;
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
}
.timeline > li > .timeline-badge [class^="ti-"], .timeline > li > .timeline-badge [class*=" ti-"], .timeline > li > .timeline-badge [class="material-icons"] {
	line-height: inherit;
}
.timeline > li.timeline-inverted > .timeline-panel {
	float: right;
	background-color: #FFFFFF;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}
.timeline-heading {
	margin-bottom: 15px;
}
.timeline-title {
	margin-top: 0;
	color: inherit;
}
.timeline-body hr {
	margin-top: 10px;
	margin-bottom: 5px;
}
.timeline-body .btn {
	margin-bottom: 0;
}
.timeline-body > p, .timeline-body > ul {
	margin-bottom: 0;
}
.timeline-body > p + p {
	margin-top: 5px;
}

/**
 * Text Block
 */

/**
 * Image Block
 */

/**
 * Image Gallery Block
 */
.m-p-g {
	margin: 0;
}

/**
 * Video Block
 */
#videoBlock.header-filter h1, #videoBlock.header-filter h2, #videoBlock.header-filter p {
	color: #FFF !important;
}

/**
 * Feature Block
 */


/**
 * Block Map
 */
.contactus-2 .map {}
.contactus-2 .card-contact {
	padding: 20px;
}

/**
 * Contact Block
 */
#contactUsMapBlock .contact-content {
	padding-bottom: 40px;
	padding-top: 40px;
}
#contactUsMapBlock .container {
	max-width: 970px;
}
#contactUsMapBlock .big-map {
	height: 35vh;
	width: 100%;
	display: block;
	position: relative;
}
#contactUsMapBlock .message {
	margin-top: 20px;
}
#contactUsMapBlock .info {
	padding-bottom: 10px;
	padding-top: 0px;
}
#contactUsMapBlock .info .title {
	margin: 25px 0 10px;
}

/**
 * Card Block
 */
.card .card-image {cursor: pointer !important;}
.card .card-image a{display: block;}

/**
 * Blog
 */
.blog-item .content p {
	color: rgba(255, 255, 255, 0.7);
}

.blog-post h1, .blog-post h2, .blog-post h3, .blog-post h4, .blog-post h5, .blog-post h6 {
	font-family: "Roboto Slab","Times New Roman",serif;
}

.pagination > li > a,
.pagination > li > span {font-size: 14px;}

/**
 * Footer Block
 */
.footer .copyright p {
	font-size: 12px;
	margin: 0;
}

.footer-black .copyright p {
	color: #FFF;
}

.footer-black {
	background: #212121 !important;
}